/* تنسيقات خاصة بالطباعة */
@media print {
    body {
      font-family: Arial, sans-serif;
      color: #04243f;
    }
  
    .buttons, #photosSection {
      display: none;
    }
  
    .report-container {
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  
    /* عناصر العلوية تبقى على صفوف أفقية */
    .info-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
  
    .info-row.single {
      display: block;
    }
  
    .info-row div, .info-column div {
      margin-bottom: 5px;
    }
  
    .info-column {
      display: block;
      margin-bottom: 10px;
    }
  
    hr {
      margin: 20px 0;
      border: 0;
      border-top: 1px solid #ccc;
    }
  
    .signature {
      text-align: right;
      font-size: 14px;
      margin-top: 20px;
      font-weight: bold;
    }
  }
  header, footer, nav, .menu-icon {
    display: none !important;
  }
